.quick {
    background-color: #DFCDBF;
    text-align: center;
    width: 86px;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    font-size: 13px;
    top: 150px;
    right: 15px;
}

.quick * {
    text-decoration: none;
}

.quick h4 {
    margin: 0;
}

.quick .quick_header {
    padding: 5px;
}

.quick hr{
    width: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

.quick img{
    width: 26px;
}

.quick *{
    color: black;
}

.quick i{
    font-size: 26px;
}

.quick ul {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    margin: 0px;
    padding: 0px; 
    list-style-type: none;
}

.quick li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.quick .li_top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.quick .li_bottom{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.quick li:hover{
    cursor: pointer;
    background-color: lightgray;
}

.up_arrow{
    position: fixed;
    top: 600px;
    right: 60px;
}

.up_arrow :hover{
    cursor: pointer;
}

.up_arrow img{
    width: 40px;
}

/* 장바구니 모달창 */
.menu_bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    display: none;
}
.sidebar_menu{
    display: none;
    width: 30%;
    height: 100%;
    background: #DFCDBF;
    position: absolute;
    top:0;
    right: -30%;
    
}
.close_btn{
    width: 25px;
    height: 25px;
    margin:10px;
}
.close_btn > a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_wrap{
    list-style: none;
    padding: 20px 20px;   
}
.menu_wrap li a{
    color: #fff;
    text-decoration: none;
}
